src/main/resources/wsdl/CustomerOrders.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:tns="http://ws.soshaw.com"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CustomerOrdersService"
        targetNamespace="http://ws.soshaw.com">
    <wsdl:types>
        <xsd:schema
                targetNamespace="http://ws.soshaw.com">
            <xsd:complexType name="product">
                <xsd:sequence>
                    <xsd:element name="product_id" type="xsd:int"/>
                    <xsd:element name="product_description" type="xsd:string"/>
                    <xsd:element name="product_quantity" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="order">
                <xsd:sequence>
                    <xsd:element name="order_id" type="xsd:int"/>
                    <xsd:element name="product" type="tns:product" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getOrderRequest">
                <xsd:sequence>
                    <xsd:element name="customer_id" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="getOrderResponse">
                <xsd:sequence>
                    <xsd:element name="order_list" type="tns:order" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="createOrderRequest">
                <xsd:sequence>
                    <xsd:element name="customerId" type="xsd:int"/>
                    <xsd:element name="order_list" type="tns:order"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="createOrderResponse">
                <xsd:sequence>
                    <xsd:element name="result" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="getOrderRequest" type="tns:getOrderRequest"/>
            <xsd:element name="getOrderResponse" type="tns:getOrderResponse"/>
            <xsd:element name="createOrderRequest" type="tns:createOrderRequest"/>
            <xsd:element name="createOrderResponse" type="tns:createOrderResponse"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="getOrderRequest">
        <wsdl:part element="tns:getOrderRequest" name="parameters" />
    </wsdl:message>
    <wsdl:message name="getOrderResponse">
        <wsdl:part element="tns:getOrderResponse"
                   name="parameters" />
    </wsdl:message>
    <wsdl:message name="createOrderRequest">
        <wsdl:part element="tns:createOrderRequest" name="parameters" />
    </wsdl:message>
    <wsdl:message name="createOrderResponse">
        <wsdl:part element="tns:createOrderResponse"
                   name="parameters" />
    </wsdl:message>

    <wsdl:portType name="CustomerOrdersPortType">
        <wsdl:operation name="getOrders">
            <wsdl:input message="tns:getOrderRequest" name="getOrderRequest"/>
            <wsdl:output message="tns:getOrderResponse" name="getOrderResponse"/>
        </wsdl:operation>
        <wsdl:operation name="createOrders">
            <wsdl:input message="tns:createOrderRequest" name="createOrderRequest"/>
            <wsdl:output message="tns:createOrderResponse" name="createOrderResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CustomerOrdersServiceSoapBinding"
                  type="tns:CustomerOrdersPortType">
        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getOrders">
            <soap:operation
                    soapAction="http://ws.soshaw.com/NewOperation" />
            <wsdl:input name="getOrderRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="getOrderResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="createOrders">
            <soap:operation
                    soapAction="http://ws.soshaw.com/NewOperation" />
            <wsdl:input name="createOrderRequest">
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output name="createOrderResponse">
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerOrders">
        <wsdl:port binding="tns:CustomerOrdersServiceSoapBinding"
                   name="CustomerOrdersPortType">
<!--            <soap:address location="http://www.localhost:8080/wsdlfirstws/services/customerOrdersService" />-->
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>